{{#unless hideMechanicsTitle}}
<h4 class="items-header">{{localize 'THIRDERA.CGS.Mechanics'}}</h4>
<p class="notes cgs-hint">{{localize 'THIRDERA.CGS.MechanicsHint'}}</p>
{{/unless}}
{{#if system.cgsGrants.senses}}
{{#if system.cgsGrants.senses.length}}
<ol class="senses-list items-list cgs-mechanics-senses">
  {{#each system.cgsGrants.senses as |sense idx|}}
  <li class="sense flexrow" data-sense-index="{{idx}}">
    <select name="system.cgsGrants.senses.{{idx}}.type" class="details-input sense-type">
      <option value="">{{localize 'THIRDERA.CGS.SenseTypePlaceholder'}}</option>
      {{#each @root.config.senseTypes as |label key|}}
      <option value="{{key}}" {{#if (eq key sense.type)}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>
    <input type="text" name="system.cgsGrants.senses.{{idx}}.range" value="{{sense.range}}"
      data-dtype="String" class="details-input sense-range" placeholder="{{localize 'THIRDERA.NPC.SenseRange'}}" />
    <a class="sense-remove" data-action="removeCgsSense" data-sense-index="{{idx}}" title="{{localize 'THIRDERA.NPC.RemoveSense'}}"><i class="fas fa-trash"></i></a>
  </li>
  {{/each}}
</ol>
{{/if}}
{{/if}}
<div class="senses-add">
  <a class="sense-add-btn" data-action="addCgsSense" title="{{localize 'THIRDERA.NPC.AddSense'}}"><i class="fas fa-plus"></i> {{localize 'THIRDERA.NPC.AddSense'}}</a>
</div>
