<form class="spell-list-browser-form flexcol" data-appid="{{appId}}" autocomplete="off">
    <div class="form-group">
        <label for="spell-list-source-select">{{localize "THIRDERA.SpellListBrowser.ClassLabel"}}</label>
        <select name="selectedSource" id="spell-list-source-select">
            <option value="">{{localize "THIRDERA.SpellListBrowser.NoClassSelected"}}</option>
            <optgroup label="{{localize "THIRDERA.SpellListBrowser.ClassesOptgroup"}}">
                {{#each classes as |cls|}}
                <option value="{{cls.optionValue}}" {{#if (eq cls.optionValue ../selectedValue)}}selected{{/if}}>{{cls.name}}</option>
                {{/each}}
            </optgroup>
            <optgroup label="{{localize "THIRDERA.SpellListBrowser.DomainsOptgroup"}}">
                {{#each domains as |dom|}}
                <option value="{{dom.optionValue}}" {{#if (eq dom.optionValue ../selectedValue)}}selected{{/if}}>{{dom.name}}</option>
                {{/each}}
            </optgroup>
        </select>
    </div>

    {{#if selectedSource}}
    <div class="form-group">
        {{> "systems/thirdera/templates/partials/spell-search.hbs" inputId="spell-list-search" inputName="search" placeholderKey="THIRDERA.SpellListBrowser.SearchPlaceholder" noResultsKey="THIRDERA.SpellListBrowser.SearchNoResults" value=searchTerm}}
    </div>
    {{#if addToActorMode}}
    <div class="form-group spell-list-add-to-actor">
        <button type="button" class="spell-list-add-to-actor-btn" data-action="addToCharacter"><i class="fas fa-user-plus"></i> {{localize "THIRDERA.SpellListBrowser.AddToCharacter"}}</button>
    </div>
    {{/if}}
    {{/if}}

    <div class="spell-list-body">
        {{#if selectedSource}}
            {{#if hasSpells}}
                {{#each spellsByLevel as |levelData|}}
                <div class="spell-level-group">
                    <div class="spell-level-header">
                        <h5>{{#if (eq levelData.level 0)}}{{localize "THIRDERA.SpellListBrowser.Level0"}}{{else}}{{ordinal levelData.level}} {{localize "THIRDERA.SpellListBrowser.Level"}}{{/if}}</h5>
                    </div>
                    {{#if levelData.isArcane}}
                        {{#each (spellSchoolGroups levelData.spells levelData.isArcane) as |group|}}
                        <div class="spell-school-group">
                            <div class="spell-school-name" role="heading" aria-level="2">{{group.schoolName}}</div>
                            <ol class="items-list spells-list">
                                {{#each group.spells as |entry|}}
                                <li class="item flexrow spell-item{{#if entry.alreadyKnown}} spell-item--already-known{{/if}}" data-spell-uuid="{{entry.uuid}}" data-spell-name="{{entry.name}}" draggable="true">
                                    {{#if ../../../addToActorMode}}{{#if entry.alreadyKnown}}<span class="spell-item-already-known-label">{{localize "THIRDERA.SpellListBrowser.AlreadyKnown"}}</span>{{else}}<input type="checkbox" name="addSpellToActor" data-spell-uuid="{{entry.uuid}}" title="{{localize "THIRDERA.SpellListBrowser.AddToCharacter"}}" />{{/if}}{{/if}}
                                    <div class="item-name">
                                        {{#if entry.img}}<div class="item-image"><img src="{{entry.img}}" alt="" width="24" height="24" /></div>{{else}}<div class="item-image"><i class="fas fa-scroll" title="{{entry.name}}"></i></div>{{/if}}
                                        <h4><a class="content-link" data-link data-uuid="{{entry.uuid}}" data-type="Item">{{entry.name}}</a></h4>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                        {{/each}}
                    {{else}}
                        <ol class="items-list spells-list">
                            {{#each levelData.spells as |entry|}}
                            <li class="item flexrow spell-item{{#if entry.alreadyKnown}} spell-item--already-known{{/if}}" data-spell-uuid="{{entry.uuid}}" data-spell-name="{{entry.name}}" draggable="true">
                                {{#if ../../addToActorMode}}{{#if entry.alreadyKnown}}<span class="spell-item-already-known-label">{{localize "THIRDERA.SpellListBrowser.AlreadyKnown"}}</span>{{else}}<input type="checkbox" name="addSpellToActor" data-spell-uuid="{{entry.uuid}}" title="{{localize "THIRDERA.SpellListBrowser.AddToCharacter"}}" />{{/if}}{{/if}}
                                <div class="item-name">
                                    {{#if entry.img}}<div class="item-image"><img src="{{entry.img}}" alt="" width="24" height="24" /></div>{{else}}<div class="item-image"><i class="fas fa-scroll" title="{{entry.name}}"></i></div>{{/if}}
                                    <h4><a class="content-link" data-link data-uuid="{{entry.uuid}}" data-type="Item">{{entry.name}}</a></h4>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    {{/if}}
                </div>
                {{/each}}
            {{else}}
                <p class="hint">{{localize "THIRDERA.SpellListBrowser.NoSpells"}}</p>
            {{/if}}
        {{else}}
            <p class="hint">{{localize "THIRDERA.SpellListBrowser.SelectClass"}}</p>
        {{/if}}
    </div>
</form>
