<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name" /></h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item {{#if (eq tabs.primary 'description')}}active{{/if}}" data-action="changeTab" data-group="primary" data-tab="description">{{localize 'THIRDERA.Description'}}</a>
        <a class="item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="changeTab" data-group="primary" data-tab="effects">{{localize 'THIRDERA.ConditionEffects'}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab {{#if (eq tabs.primary 'description')}}active{{/if}}" data-group="primary" data-tab="description">
            <div class="condition-editor-box editor-box">
                <div class="editor-box-header flexrow">
                    <label>{{localize 'THIRDERA.Description'}}</label>
                    <button type="button" class="editor-box-edit-btn" data-action="openConditionDescription" title="{{localize 'THIRDERA.Edit'}}">
                        <i class="fas fa-pen-to-square"></i>
                    </button>
                </div>
                <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
                    value="{{system.description}}" toggled="true">
                    {{{enriched.description}}}
                </prose-mirror>
            </div>
        </div>
        <div class="tab {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-group="primary" data-tab="effects">
            {{> "systems/thirdera/templates/partials/mechanical-effects-table.hbs" headerKey="THIRDERA.ConditionEffects" hintKey="THIRDERA.ConditionEffectsHint" showLabel=true addButtonKey="THIRDERA.AddEffect" changeKeyOptions=changeKeyOptions system=system}}
        </div>
    </section>
</form>
