<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item {{#if (eq tabs.primary 'description')}}active{{/if}}" data-action="changeTab"
            data-group="primary" data-tab="description">Description</a>
        <a class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="changeTab" data-group="primary"
            data-tab="details">Details</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab {{#if (eq tabs.primary 'description')}}active{{/if}}" data-group="primary"
            data-tab="description">
            <div class="editor-box">
                <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
                    value="{{system.description}}" toggled="false">
                    {{{enriched.description}}}
                </prose-mirror>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details {{#if (eq tabs.primary 'details')}}active{{/if}}" data-group="primary"
            data-tab="details">
            <div class="form-group">
                <label>Feat Type</label>
                <input type="text" name="system.type" value="{{system.type}}"
                    placeholder="General, Combat, Metamagic, etc." />
            </div>
            <h3 class="form-header">Prerequisites (structured)</h3>
            <div class="form-group">
                <label>{{localize "THIRDERA.FeatPrereq.RequiredFeats"}}</label>
                {{#if prerequisiteFeatsDisplay.length}}
                <ul class="prerequisite-feats-list">
                    {{#each prerequisiteFeatsDisplay as |entry|}}
                    <li class="prerequisite-feat-entry flexrow" data-uuid="{{entry.uuid}}">
                        <span class="prerequisite-feat-name">{{entry.name}}</span>
                        <a class="prerequisite-feat-remove" data-action="removePrerequisiteFeat" data-uuid="{{entry.uuid}}" title="{{localize "THIRDERA.Remove"}}"><i class="fas fa-times"></i></a>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                <div class="flexrow prerequisite-feat-add">
                    <select class="prerequisite-feat-select" data-dtype="String">
                        <option value="">{{localize "THIRDERA.FeatPrereq.SelectFeatPlaceholder"}}</option>
                        {{#each availableFeatsForPrereq as |opt|}}
                        <option value="{{opt.uuid}}">{{opt.name}}</option>
                        {{/each}}
                    </select>
                    <button type="button" class="prerequisite-feat-add-btn" data-action="addPrerequisiteFeat"><i class="fas fa-plus"></i> {{localize "THIRDERA.FeatPrereq.AddFeat"}}</button>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "THIRDERA.FeatPrereq.MinBAB"}}</label>
                <input type="number" name="system.prerequisiteBAB" value="{{system.prerequisiteBAB}}" min="0" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label>{{localize "THIRDERA.FeatPrereq.MinAbilityScores"}}</label>
                <div class="prerequisite-abilities-grid">
                    {{#each config.abilityScores as |label key|}}
                    <div class="prerequisite-ability-row">
                        <span class="prerequisite-ability-label">{{label}}</span>
                        <input type="number" name="system.prerequisiteAbilityScores.{{key}}" value="{{lookup system.prerequisiteAbilityScores key}}" min="0" data-dtype="Number" />
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="form-group">
                <label>Prerequisites (text)</label>
                <input type="text" name="system.prerequisites" value="{{system.prerequisites}}" placeholder="e.g. Dex 13, Dodge" />
            </div>

            <h3 class="form-header">Benefit</h3>
            <div class="editor-box">
                <prose-mirror name="system.benefit" data-document-u-u-i-d="{{item.uuid}}" value="{{system.benefit}}"
                    toggled="false">
                    {{{enriched.benefit}}}
                </prose-mirror>
            </div>

            <h3 class="form-header">Special</h3>
            <div class="editor-box">
                <prose-mirror name="system.special" data-document-u-u-i-d="{{item.uuid}}" value="{{system.special}}"
                    toggled="false">
                    {{{enriched.special}}}
                </prose-mirror>
            </div>

            {{> systems/thirdera/templates/partials/scaling-table.hbs}}
        </div>
    </section>
</form>