<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item {{#if (eq tabs.primary 'description')}}active{{/if}}" data-action="changeTab"
            data-group="primary" data-tab="description">Description</a>
        <a class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="changeTab" data-group="primary"
            data-tab="details">Details</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab {{#if (eq tabs.primary 'description')}}active{{/if}}" data-group="primary"
            data-tab="description">
            <div class="editor-box">
                <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
                    value="{{system.description}}" toggled="false">
                    {{{enriched.description}}}
                </prose-mirror>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details {{#if (eq tabs.primary 'details')}}active{{/if}}" data-group="primary"
            data-tab="details">
            <div class="form-group">
                <label>Feat Type</label>
                <input type="text" name="system.type" value="{{system.type}}"
                    placeholder="General, Combat, Metamagic, etc." />
            </div>
            <div class="form-group">
                <label>Prerequisites</label>
                <input type="text" name="system.prerequisites" value="{{system.prerequisites}}" />
            </div>

            <h3 class="form-header">Benefit</h3>
            <div class="editor-box">
                <prose-mirror name="system.benefit" data-document-u-u-i-d="{{item.uuid}}" value="{{system.benefit}}"
                    toggled="false">
                    {{{enriched.benefit}}}
                </prose-mirror>
            </div>

            <h3 class="form-header">Special</h3>
            <div class="editor-box">
                <prose-mirror name="system.special" data-document-u-u-i-d="{{item.uuid}}" value="{{system.special}}"
                    toggled="false">
                    {{{enriched.special}}}
                </prose-mirror>
            </div>

            <div class="scaling-section">
                <div class="scaling-header">
                    <h3 class="form-header">Scaling Table</h3>
                    <a class="scaling-add" data-action="addScalingRow" title="Add Row"><i class="fas fa-plus"></i></a>
                </div>
                <p class="hint">For feats that scale with class level (e.g. Sneak Attack). Leave empty for non-scaling
                    feats.</p>
                {{#if system.scalingTable.length}}
                <div class="scaling-grid">
                    <span class="scaling-col-header">Level</span>
                    <span class="scaling-col-header">Value</span>
                    <span class="scaling-col-header"></span>
                    {{#each system.scalingTable as |row|}}
                    <input type="number" name="system.scalingTable.{{@index}}.minLevel" value="{{row.minLevel}}" min="1"
                        data-dtype="Number" class="scaling-level-input" />
                    <input type="text" name="system.scalingTable.{{@index}}.value" value="{{row.value}}"
                        class="scaling-value-input" placeholder="e.g. 1d6" />
                    <a class="scaling-remove" data-action="removeScalingRow" data-scaling-index="{{@index}}"
                        title="Remove"><i class="fas fa-times"></i></a>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</form>