<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Feature Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item {{#if (eq tabs.primary 'description')}}active{{/if}}" data-action="changeTab"
            data-group="primary" data-tab="description">Description</a>
        <a class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="changeTab" data-group="primary"
            data-tab="details">Details</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab {{#if (eq tabs.primary 'description')}}active{{/if}}" data-group="primary"
            data-tab="description">
            <div class="editor-box">
                <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
                    value="{{system.description}}" toggled="false">
                    {{{enriched.description}}}
                </prose-mirror>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details {{#if (eq tabs.primary 'details')}}active{{/if}}" data-group="primary"
            data-tab="details">

            {{> systems/thirdera/templates/partials/scaling-table.hbs}}
        </div>
    </section>
</form>