<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Class Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item {{#if (eq tabs.primary 'description')}}active{{/if}}" data-action="changeTab"
            data-group="primary" data-tab="description">Description</a>
        <a class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="changeTab" data-group="primary"
            data-tab="details">Details</a>
        <a class="item {{#if (eq tabs.primary 'skills')}}active{{/if}}" data-action="changeTab" data-group="primary"
            data-tab="skills">Skills</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab {{#if (eq tabs.primary 'description')}}active{{/if}}" data-group="primary" data-tab="description">
            <div class="editor-box">
                <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}"
                    toggled="false">
                    {{{enriched.description}}}
                </prose-mirror>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details {{#if (eq tabs.primary 'details')}}active{{/if}}" data-group="primary" data-tab="details">
            <div class="form-group">
                <label>Hit Die</label>
                <select name="system.hitDie">
                    {{#each config.hitDice as |label key|}}
                    <option value="{{key}}" {{#if (eq key ../system.hitDie)}}selected{{/if}}>{{label}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label>BAB Progression</label>
                <select name="system.babProgression">
                    {{#each config.babProgressions as |label key|}}
                    <option value="{{key}}" {{#if (eq key ../system.babProgression)}}selected{{/if}}>{{label}}</option>
                    {{/each}}
                </select>
            </div>

            <h3 class="form-header">Save Progressions</h3>
            <div class="form-group">
                <label>Fortitude</label>
                <select name="system.saves.fort">
                    {{#each config.saveProgressions as |label key|}}
                    <option value="{{key}}" {{#if (eq key ../system.saves.fort)}}selected{{/if}}>{{label}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Reflex</label>
                <select name="system.saves.ref">
                    {{#each config.saveProgressions as |label key|}}
                    <option value="{{key}}" {{#if (eq key ../system.saves.ref)}}selected{{/if}}>{{label}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Will</label>
                <select name="system.saves.will">
                    {{#each config.saveProgressions as |label key|}}
                    <option value="{{key}}" {{#if (eq key ../system.saves.will)}}selected{{/if}}>{{label}}</option>
                    {{/each}}
                </select>
            </div>

            <h3 class="form-header">Other</h3>
            <div class="form-group">
                <label>Skill Points per Level</label>
                <input type="number" name="system.skillPointsPerLevel" value="{{system.skillPointsPerLevel}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label>Prestige Class</label>
                <select name="system.isPrestige">
                    <option value="false" {{#if (eq system.isPrestige "false")}}selected{{/if}}>No</option>
                    <option value="true" {{#if (eq system.isPrestige "true")}}selected{{/if}}>Yes</option>
                </select>
            </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills {{#if (eq tabs.primary 'skills')}}active{{/if}}" data-group="primary" data-tab="skills">
            <h3 class="form-header">Class Skills</h3>
            <p class="hint">Drag skill items here to add them as class skills.</p>
            {{#if system.classSkills.length}}
            <ol class="skill-ref-list">
                {{#each system.classSkills as |entry|}}
                <li class="skill-ref-entry">
                    <span class="skill-ref-name">{{entry.name}}</span>
                    <a class="skill-ref-remove" data-action="removeClassSkill" data-skill-key="{{entry.key}}" title="Remove"><i class="fas fa-times"></i></a>
                </li>
                {{/each}}
            </ol>
            {{else}}
            <p class="no-items hint">No class skills assigned</p>
            {{/if}}
        </div>
    </section>
</form>
